<div>
    <table>
        <tbody>
            <tr>
                <th>Principal</th>
                <td><input type="number" [(ngModel)]="principal"></td>
            </tr>
            <tr>
                <th>Time</th>
                <td><input type="number" [(ngModel)]="time"></td>
            </tr>
            <tr>
                <th>Rate</th>
                <td><input type="number" [(ngModel)]="rate"></td>
            </tr>
            <tr>
                <td><input type="submit" (click)="simpleIntrest()" value="simpleIntrest"></td>
            </tr>
        </tbody>
        
    </table>
</div>
